.login {
  height: 100%;
  justify-content: flex-start;
}

.login form {
  width: 100%;
}

.login-label {
  font-size: 2rem;
}

.login-form-label-input {
  margin: 20px 0;
}

.login input {
  width: 100%;
  height: 3rem;
}

@media (min-width: 740px) {
  .login {
    justify-content: center;
  }

  .login input {
    width: 20rem;
  }

  .login-form-label-input {
    text-align: center;
  }
}
